<ion-view view-title="Current Sale">
    <ion-nav-buttons side="right">
        <button ng-show="cartData.summarySlide" class="button button-icon icon ion-ios-minus-outline" style="margin-right: 10px"
                ng-click="cartData.showDelete = !cartData.showDelete"></button>
        <button class="button button-clear icon ion-plus" ng-click="showAddItem()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-slide-box on-slide-changed="slideChanged($index)" show-pager="false">
            <ion-slide class="padding">
                <div class="catalog-box">
                    <div class="cart-box card" ng-repeat="cartItem in cartData.cart">
                        <div class="catalog-item" on-hold="confirmDelete(cartItem)">
                            <img class="catalog-item-img" ng-src="/img/items/{{cartItem.item.image}}">
                            <div class="catalog-item-text">{{cartItem.item.name}}</div>
                            <div class="catalog-item-text">@{{cartItem.item.unitPrice | dollars:true}} {{cartItem.item.uom.name}}
                            </div>
                        </div>
                        <div class="quantity-selector-box">
                            <div class="quantity-selector-button-box">
                                <button ng-click="incrementQuantity($index)"
                                        class="button button-clear ion-plus-circled quantity-selector-button"></button>
                                <button ng-click="incrementQuantityTenths($index)"
                                        class="button button-clear ion-plus-circled quantity-selector-button"></button>
                            </div>
                            <div class="quantity-selector-qty">{{cartItem.quantity | number:2}}</div>
                            <div class="quantity-selector-button-box">
                                <button ng-click="decrementQuantity($index)"
                                        class="button button-clear ion-minus-circled quantity-selector-button"></button>
                                <button ng-click="decrementQuantityTenths($index)"
                                        class="button button-clear ion-minus-circled quantity-selector-button"></button>
                            </div>
                            <div class="quantity-selector-subtotal">{{cartItem.subtotal | dollars:true}}</div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="padding">
                <ion-list show-delete="cartData.showDelete">
                    <ion-item class="row" ng-repeat="cartItem in cartData.cart">
                        <div class="col y-centering-box">{{cartItem.quantity}} {{cartItem.item.uom.name}} {{cartItem.item.name}}</div>
                        <div class="col-20 y-centering-box right-align-box">{{cartItem.subtotal | dollars:true}}</div>
                        <ion-delete-button class="ion-minus-circled" ng-click="removeFromCart(cartItem)">
                    </ion-item>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-footer bar-stable">
        <div class="buttons" ng-show="cartData.cart.length">
            <button class="button button-stable" ng-disabled="!cartData.cart.length" ng-click="emptyCart()">Empty Cart</button> &nbsp;
            <button class="button button-positive" ng-disabled="cartData.cantCheckout" ng-click="showCheckOut()">Check Out</button>
        </div>
        <div class="col y-centering-box right-align-box" style="font-size: 1.25em">Total: {{cartData.cartTotal | dollars:true}}</div>
    </ion-footer-bar>
</ion-view>
