<ion-view view-title="Items">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="goHere('app.admin')">Administration</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-plus" ng-click="showEditItem()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="catalog-box">
            <div ng-repeat="item in items" class="admin-catalog-item card">
                <div class="admin-catalog-item-hdr">
                    {{item.name}}
                    <button class="admin-item-button button-stable" ng-click="showEditItem(item)">Edit</button>
                </div>
                <div class="admin-catalog-item-body">
                    <div class="admin-catalog-img-col">
                        <img class="catalog-item-img" ng-src="/img/items/{{item.image}}">
                    </div>
                    <div class="admin-property-col">
                        <div class="catalog-item-text"><b>Price:</b>&emsp;{{item.unitPrice | dollars:true}}</div>
                        <div class="catalog-item-text"><b>Units:</b>&emsp;{{item.uom.name}}</div>
                        <div ng-if="!item.isActive" style="color: red" class="catalog-item-text"><b>INACTIVE</b></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
