<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Add Item</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEditItem()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="itemForm" class="css-form" novalidate>
            <table class="edit-table">
                <tr>
                    <th>Name:</th>
                    <td>
                        <input id="edit-text" name="name" size="20" maxlength="20" type="text" required ng-model="editItem.name">
                        <span ng-show="itemForm.name.$error.required" class="required-hint"></span>
                    </td>
                </tr>
                <tr>
                    <th>Unit Price:</th>
                    <td>
                        <div dollar-input name="unitPrice" required ng-model="editItem.unitPrice"></div>
                        <span ng-show="itemForm.unitPrice.$error.required" class="required-hint"></span>
                        <span ng-show="itemForm.unitPrice.$error.pattern" class="form-error">Numbers only.</span>
                    </td>
                </tr>
                <tr>
                    <th>Units:</th>
                    <td>
                        <select name="uom" ng-options="uom.name for uom in uoms track by uom.id" required ng-model="editItem.uom"></select>
                        <span ng-show="itemForm.uom.$error.required" class="required-hint"></span>
                    </td>
                </tr>
                <tr>
                    <th>Is Active:</th>
                    <td>
                        <input type="checkbox" ng-model="editItem.isActive">
                    </td>
                </tr>
                <tr class="unruled">
                    <!-- TODO: File upload -->
                    <th rowspan="2">Image:</th>
                    <td>
                        <img class="edit-item-img" ng-src="/img/items/{{editItem.image}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="image" accept="image/jpeg, image/png, image/gif">
                    </td>
                </tr>
            </table>
            <button ng-disabled="!(itemForm.$valid && itemForm.$dirty)" class="button button-block button-positive" ng-click="saveEditItem()" type="button">Save Changes</button>
        </form>
    </ion-content>
</ion-modal-view>
