<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Please select a location</h1>
        <div ng-show="data.cancellable" class="buttons">
            <button class="button button-clear" ng-click="closeModal(false)">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="pickLocationForm" class="css-form" novalidate>
            <select ng-options="location.name for location in locations track by location.id" required ng-model="data.pickedLocation"></select>
            <button ng-disabled="pickLocationForm.$invalid" class="button button-block button-positive" ng-click="closeModal(true)">Select Location</button>
        </form>
    </ion-content>
</ion-modal-view>
