<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(false)">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        TODO
        <!-- TODO: Do it
        <form name="changePasswordForm" class="css-form" novalidate>
            <button ng-disabled="changePasswordForm.$invalid" class="button button-block button-positive" ng-click="closeModal()" type="button">Select Location</button>
        </form>-->
    </ion-content>
</ion-modal-view>
