<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(false)">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="changePasswordForm" class="css-form" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input id="edit-text" placeholder="Password" type="password" name="password" ng-model="data.password" ng-model-options="{ debounce: 750 }" required minlength="8">
                    <div ng-show="changePasswordForm.password.$error.minlength" class="form-error">Password must be at least eight characters.</div>
                </label>
                <label class="item item-input">
                    <input id="edit-text" placeholder="Confirm Password" type="password" name="confirmPassword" compare-to="data.password" ng-model-options="{ debounce: 750 }" ng-model="data.confirmPassword" required>
                    <div ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.compareTo" class="form-error">Passwords don't match.</div>
                </label>
            </div>
            <button ng-disabled="changePasswordForm.$invalid" class="button button-block button-positive" ng-click="closeModal()" type="button">Change Password</button>
        </form>
    </ion-content>
</ion-modal-view>
