<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">
            <span ng-show="formData.add">Add</span><span ng-hide="formData.add">Edit</span> Unit of Measure
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEditUom()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="uomForm" ng-controller="FormHackController" class="css-form" ng-submit="saveEditUom()" novalidate>
            <table class="edit-table" ng-init="setForm(uomForm)">
                <tr>
                    <th>Name:</th>
                    <td>
                        <input name="name" id="edit-text" size="20" maxlength="20" type="text" required
                               ng-blur="uomNameExists(formData.editUom.name)" ng-change="clearUomNameExists()" ng-model="formData.editUom.name">
                        <span class="form-error" ng-show="uomForm.name.$error.nameExists">That name is already in use.</span>
                    </td>
                </tr>
            </table>
            <button class="button button-block button-positive" type="submit" ng-disabled="!(uomForm.$valid && uomForm.$dirty)">
                <span ng-show="formData.add">Submit Unit</span><span ng-hide="formData.add">Save Changes</span>
            </button>
        </form>
    </ion-content>
</ion-modal-view>
