<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <div class="buttons">
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-show="steps[currentStep].previous" ng-click="previousStep()">{{steps[currentStep].previous.name}}</button>
        </div>
        <h1 class="title">Check Out</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeCheckOut()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div ui-view name="checkout"></div>

        <script id="part.tender-money.html" type="text/ng-template">
            <div class="checkout-box">
                <div class="checkout-row">
                    <div class="checkout-col">
                        <div class="checkout-total">Due: {{moneyDue() | dollars:true}}</div>
                    </div>
                    <div class="checkout-col">
                        <div class="checkout-total">Received:&nbsp;<span class="keypad-input" ng-click="showKeypadModal(updateTenderedValue)">{{checkoutData.amountTendered | dollars:true}}</span></div>
                    </div>
                </div>
            </div>
            <div class="checkout-box">
                <div class="checkout-row">
                    <div class="checkout-button-col">
                        <button class="money-button" ng-click="addTendered(1)">+$1</button>
                        <button class="money-button" ng-click="addTendered(5)">+$5</button>
                    </div>
                    <div class="checkout-button-col">
                        <button class="money-button" ng-click="addTendered(10)">+$10</button>
                        <button class="money-button" ng-click="addTendered(20)">+$20</button>
                    </div>
                </div>
                <button class="money-button" ng-click="setTendered(cartTotal)">Full Amount: {{cartTotal | dollars:true}}</button>
                <button class="money-button" ng-click="clearTendered()">Reset</button>
            </div>
            <button class="button button-block button-positive" ng-show="steps[currentStep].next" ng-click="nextStep()">{{steps[currentStep].current.name}}</button>
        </script>

        <script id="part.handle-change.html" type="text/ng-template">
            <div class="checkout-box">
                <div class="checkout-row">
                    <div class="checkout-col">
                        <div class="checkout-total">Change due: {{changeDue() | dollars:true}}</div>
                    </div>
                    <div class="checkout-col">
                        <div class="checkout-total">Change given:&emsp;<span class="keypad-input" ng-click="showKeypadModal(updateChangeValue)">{{checkoutData.changeGiven | dollars:true}}</span></div>
                    </div>
                </div>
                <button class="money-button" ng-click="setChangeGiven(changeDue())">All: {{changeDue() | dollars:true}}</button>
            </div>
            <button class="button button-block button-positive" ng-show="steps[currentStep].next" ng-click="nextStep()">{{steps[currentStep].current.name}}</button>
        </script>

        <script id="part.complete-sale.html" type="text/ng-template">
            <div class="list">
                <div class="item checkout-total">Total in Cart: {{cartTotal | dollars:true}}</div>
                <div class="item checkout-total">Money Received: {{checkoutData.amountTendered | dollars:true}}</div>
                <div class="item checkout-total">Change Given: {{checkoutData.changeGiven | dollars:true}}</div>
                <div class="item checkout-total">Total Sale: {{getTotalSale() | dollars:true}}</div>
            </div>
            <button class="button button-block button-positive" ng-click="completeSale()">Complete Sale</button>
            <ion-spinner ng-show="stillSaving"></ion-spinner>
        </script>
    </ion-content>
<!--    <ion-footer-bar class="bar-footer bar-stable">
        <div class="col y-centering-box right-align-box" style="font-size: 1.8em">Total: ${{cartTotal | number:2}}</div>
    </ion-footer-bar>-->
</ion-modal-view>
