<ion-tabs class="tabs-icon-top tabs-positive">
    <!-- Log out -->
    <ion-tab title="Log Out" icon-off="ion-log-out" icon-on="ion-log-out" ng-click="logout()">
    </ion-tab>

    <!-- Catalog Tab -->
    <ion-tab title="Catalog" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/catalog">
        <ion-nav-view name="tab-catalog"></ion-nav-view>
    </ion-tab>

    <!-- Shopping Cart Tab -->
    <ion-tab title="Cart" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/app/cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>

    <!-- Admin Tab -->
    <ion-tab ng-show="isAdminUser()" title="Admin" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/admin">
        <ion-nav-view name="tab-admin"></ion-nav-view>
    </ion-tab>
</ion-tabs>
