<ion-view view-title="Users">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="goHere('app.admin')">Administration</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-plus" ng-click="showEditUser()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-button-right" ng-repeat="user in users">
                {{user.name}}
                <span ng-if="!user.isActive || user.isAdmin">(</span>
                <span ng-if="!user.isActive">inactive</span>
                <span ng-if="!user.isActive && user.isAdmin">, </span>
                <span ng-if="user.isAdmin">admin</span>
                <span ng-if="!user.isActive || user.isAdmin">)</span>
                <button class="button button-stable" ng-click="showEditUser(user)">Edit</button>
            </div>
        </div>
    </ion-content>
</ion-view>
