.centering-box {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.y-centering-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.x-centering-box {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.right-align-box {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
}

.bordered {
    /*background: gray;*/
    border: thin solid black;
}

.small-item-img {
    width: 75px;
    height: auto;
}

/*
 * Adustments to ionic css
 */

.item-content, .item-complex {
    display: flex;
    display: -webkit-flex;
    margin-top: -5px;
    padding: 0;
    width: 100%;
}

.slider {
    height: 100%;
}

.scroll {
    height: 100%
}

/*
 * Catalog styles
 */
.catalog-box, .catalog-item, .catalog-item-text, .admin-catalog-item, .catalog-item-img, .admin-catalog-img-col,
.admin-property-col, .admin-catalog-item-body, .admin-catalog-item-hdr, .admin-item-button {
    display: -webkit-flex;
    display: flex;
}

.catalog-box {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.catalog-item {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 150px;
    height: 180px;
    margin: 10px;
/*    border: thin solid black;
    border-radius: 10px; */
}

.catalog-item-img {
    width: 150px;
    height: auto;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}

.catalog-item-text {
    flex-flow: row;
    -webkit-flex-flow: row;
}

.admin-catalog-item {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
/*    width: 150px; */
    height: 200px;
    margin: 10px;
}

.admin-catalog-item-hdr {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 1.25em;
    height: 2em;
    margin-bottom: 10px;
    background-color: lightgray;
    position: relative
}

.admin-catalog-item-body {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.admin-catalog-img-col {
    width: 150px;
    height: auto;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.admin-property-col {
    width: 150px;
    height: auto;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    margin-left: 15px;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.admin-item-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*
 * Shopping cart styles.
 */
.cart-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 260px;
    height: 220px;
    margin: 10px;
}

.quantity-selector-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100px;
}

.quantity-selector-button-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.quantity-selector-button {
    font-size: 2em;
}

.quantity-selector-qty {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 1.25em;
}

.quantity-selector-subtotal {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 1.5em;
}

/*
 * Edit forms
 */

.property-row, .property-label, .property-value-text, .property-value-checkbox {
    display: -webkit-flex;
    display: flex;
    height: 4em;
}

.property-row {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}

.property-label {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.property-value-text, .property-value-checkbox {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}

.property-value-text {
}

/*
 * Input styles--PITA to override ionic
 * Bootstrappy-like stuff to play with
 */

input#edit-text, input#dollars {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input#edit-text:focus, input#dollars:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input#edit-text {
    width: 100%;
}

input#dollars {
    text-align: right;
    width: 8em;
}
