.variable-text {
    color: blue;
}

ion-popover-view.fit {
    height: auto !important;
    width: auto; !important
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

.centering-box {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.y-centering-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.x-centering-box {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.right-align-box {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
}

.bordered {
    /*background: gray;*/
    border: thin solid black;
}

.small-item-img {
    width: 75px;
    height: auto;
}

/*
 * Adustments to ionic css
 */

.item-content, .item-complex {
    display: flex;
    display: -webkit-flex;
    margin-top: -5px;
    padding: 0;
    width: 100%;
}
/*
.slider {
    height: 100%;
}

.scroll {
    height: 100%
}
*/
/*
 * Catalog styles
 */
.catalog-box, .catalog-item, .card-box, .catalog-item-text, .admin-catalog-item, .catalog-item-img, .admin-catalog-img-col,
.admin-property-col, .admin-catalog-item-body, .admin-catalog-item-hdr, .admin-item-button, .admin-property {
    display: -webkit-flex;
    display: flex;
}

.catalog-box, .card-box {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.catalog-item {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 160px;
    height: 190px;
    margin: 10px;
    padding: 5px;
}

.catalog-item-img {
    width: 150px;
    height: auto;
    max-height: 150px;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}

.catalog-item-text, .admin-property {
    flex-flow: row;
    -webkit-flex-flow: row;
}

.admin-catalog-item {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
/*    width: 150px; */
    height: 200px;
    margin: 10px;
}

.admin-catalog-item-hdr {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 1.25em;
    height: 2em;
    margin-bottom: 10px;
    background-color: lightgray;
    position: relative
}

.admin-catalog-item-body {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.admin-catalog-img-col {
    width: 160px;
    height: auto;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
}

.admin-property-col {
    width: 150px;
    height: auto;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    margin-left: 15px;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.admin-item-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*
 * Shopping cart styles.
 */
.cart-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    /*width: 300px;*/
    /*height: 220px;*/
    margin: 10px;
}

.quantity-selector-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    /*width: 100px;*/
}

.quantity-selector-button-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.quantity-selector-button {
    margin: 10px;
    font-size: 2.5em;
}

.quantity-selector-qty {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 1.25em;
}

.quantity-selector-subtotal {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 10px;
    font-size: 1.5em;
}

/*
 * Edit forms
 */

table.edit-table {
    width: 100%;
    border: 1px solid lightgray;
}

table.edit-table tr {
    border-bottom: 1px solid lightgray;
}

table.edit-table tr.unruled {
    border-bottom: none;
}

table.edit-table th, table.edit-table td {
    vertical-align: middle;
    padding: 5px;
    height: 4em;
    text-align: left;
}

table.edit-table th {
}

table.edit-table td {
    padding: .5em;
}

.edit-item-img {
    width: 100px;
    height: auto;
    max-height: 100px;
}

input[type=checkbox] {
    height: 2em;
    width: 2em;
}

select {
    font-size: 1em;
}

.edit-info, .form-error, .required-hint {
    font-size: .8em;
    margin-left: 1em;
    line-height: 2em;
}
.edit-info {
    color: lightslategray;
}

.form-error {
    color: red;
}

div.form-error {
    display: block;
}

span.form-error {
    display: inline;
}

.required-hint {
    display: inline;
    color: indianred;
}

.required-hint:after {
    content: ' (Required)';
}

/*
 *
 */
.checkout-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex: 1 0 auto;
    margin: 5px;
    border: 1px solid lightgray;
}

.checkout-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-content: center;
    -webkit-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex: 1 0 auto;
    margin: 5px;
}

.checkout-col {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex: 1 0 auto;
    margin: 5px;
}

.checkout-button-col {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    flex: 1 0 auto;
    margin: 5px;
}

.checkout-total {
    font-size: 1.25em;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-content: center;
    -webkit-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex: 1 0 auto;
    margin: 5px;
}

span.keypad-input {
    display: inline-block;
    cursor: pointer;
    user-select: text;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 5px 5px;
    min-width: 5em;
    text-align: right;
}

.money-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    font-size: 1.25em;
    padding: .5em 1em .5em;
    color: white;
    background-color: cornflowerblue;
    border-radius: 1em;
    -webkit-border-radius: 1em;
}

.money-button:active {
    position: relative;
    top: 1px;
}

.sale-complete-box {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 200px;
}

.sale-spinner {
    display: block;
}
/*
 * Input styles
 */

div[dollar-input] {
    display: inline-block;
    -webkit-user-select: text;   /* IOS hack */
    user-select: text;
    border: solid 1px lightgray;
    border-radius: 4px;
    /*margin: 5px 5px;*/
    padding: 5px 5px;
    min-width: 5em;
    text-align: right;
}

div[dollar-input]:before {
    content: "$";
}

input#edit-text {
    padding: 6px 12px;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input#edit-text:focus, div[dollar-input]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input#edit-text {
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.428571429;
    /*width: 100%;*/
}

input#edit-text.ng-invalid.ng-dirty, div[dollar-input].ng-invalid.ng-dirty {
    background-color: #FA787E;
}

/*
 * Keypad
 */
.keypad-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.keypad-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    font-size: 1.5em;
    padding: .5em 1em .5em;
    color: white;
    background-color: cornflowerblue;
    border-radius: 1em;
    -webkit-border-radius: 1em;
}

.keypad-button:active {
    position: relative;
    top: 1px;
}

table.keypad {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    display: block;
    margin: auto;
    border: 1px solid lightgray;
}

table.keypad td {
    vertical-align: middle;
    text-align: center;
}

table.keypad td.keypad-delete {
    font-size: 3em;
    text-align: right;
}

table.keypad td.keypad-total {
    text-align: right;
    vertical-align: middle;
}

div.keypad-total {
    font-size: 2em;
    width: 100%;
    line-height: 1em;
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: .25em;
    -webkit-border-radius: .25em;
}